.request {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    cursor: pointer;
}

.expanded {
    background: #445156;
}

.request:hover {
    background: #313e48;
}

.request-details {
    padding: 10px 20px;
}

.request-details__item {
    margin: 10px 0;
}

.request-details__item__title {
    margin-top: 10px;
}

.request-details__item__content {
    padding-left: 40px;
}

