.request-details {
    padding: 10px 20px;
}

.request-details__item {
    margin: 10px 0;
}

.request-details__item__title {
    margin: 10px 0;
}

.request-details__item__content {
    padding-left: 40px;
}
